.nav-bar-container {
    width: 100%;
    height: 70px;
    background-color:white;
    display: flex;
}
.nav-bar-first-part {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.website-logo {
    display: flex;
    margin: 0;
    color: #747579;
    
}
.website-logo-dot{
    color: red;
}
.nav-bar-second-part{
    width: 50%;
}
.nav-bar-links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-bar-links{
    color: #747579; 
    font-weight: 600;
}
.nav-bar-links:hover{
    color: red;
    text-decoration: none;
}
.categories-dropdown-navbar{
    height: 100%;
    display: flex;
    align-items: center;
}
.categories-hd-container {
    display: flex;
    cursor: pointer;
}
.categories-hd {
    margin: 0%;
    color: #747579;
    font-weight: 600;
}
.categories-hd:hover{
    color: red;
}
.categories-dropdown {
    visibility: hidden;
    opacity: 0;
    width: 220px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.15);
    padding: 20px;
}
.categories-dropdown-navbar:hover .categories-dropdown {
    top: 55px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
.categories-dropdown-list{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin: 0;
}
hr{
    margin: 0px;
}
.categories-dropdown-list-items{
    list-style-type: none;
    font-weight: 600;
    color:#747579;
    height: 35px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}
.categories-dropdown-list-items:hover{
    color: red;   
}
.nav-bar-third-part{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar-btn{
    width: 130px;
    height: 38px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #E84545;
    color: white;
    border: none;
    transition: 0.5s;
}
.nav-bar-btn:hover{
    cursor: pointer;
    background-color: #e84545e4;
}
.nav-bar-btn:focus{
    outline: none;
}


.home-page-container{
    background-image: url(./images/website-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}